<div class="relative z-[1] pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[150px]">
    <div class="container 2xl:max-w-[1320px] mx-auto px-[12px]">
        <div class="mx-auto text-center md:max-w-[650px] lg:max-w-[810px] xl:max-w-[785px] mb-[35px] md:mb-[50px] lg:mb-[65px] xl:mb-[90px]">
            <div class="inline-block relative mt-[10px] mb-[20px]">
                <span class="absolute top-[4.5px] w-[5px] h-[5px] ltr:-left-[3.6px] rtl:-right-[3.6px] bg-purple-600 -rotate-[6.536deg]"></span>
                <span class="absolute -top-[9.5px] w-[5px] h-[5px] ltr:right-0 rtl:left-0 bg-purple-600 -rotate-[6.536deg]"></span>
                <span class="inline-block relative text-purple-600 border border-purple-600 py-[5.5px] px-[17.2px] -rotate-[6.536deg]">
                    Témoignages
                    <span class="absolute -bottom-[2.5px] w-[5px] h-[5px] ltr:-left-[3.5px] rtl:-right-[3.5px] bg-purple-600 -rotate-[6.536deg]"></span>
                    <span class="absolute -bottom-[2.5px] w-[5px] h-[5px] ltr:-right-[3.5px] rtl:-left-[3.5px] bg-purple-600 -rotate-[6.536deg]"></span>
                </span>
            </div>
            <h2 class="mb-0 text-[24px] md:text-[28px] lg:text-[34px] xl:text-[36px] -tracking-[.5px] md:-tracking-[.6px] lg:-tracking-[.8px] xl:-tracking-[1px] leading-[1.2]">
                Retours Inspirants : Ce que les utilisateurs adorent dans le tableau de bord Trezo
            </h2>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="bg-white dark:bg-[#0c1427] p-[20px] md:p-[30px] xl:p-[40px] rounded-[7px]">
                <div class="leading-none mb-[12px] md:mb-[20px] text-[16px] md:text-[19px] text-[#fe7a36] flex items-center gap-[4px]">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <p class="text-[14px] md:text-[16px] font-medium leading-[1.6]">
                    Le modèle de tableau de bord Trezo a transformé notre gestion des données. Son design intuitif et ses fonctionnalités personnalisables ont optimisé notre processus analytique, nous permettant de prendre des décisions éclairées plus rapidement que jamais.
                </p>
                <div class="flex items-center mt-[15px] md:mt-[20px] gap-[12px] md:gap-[15px]">
                    <img src="images/front-pages/user1.jpg" alt="image-utilisateur" class="rounded-full w-[50px]">
                    <div>
                        <h5 class="text-[15px] md:text-[16px] mb-[3px] font-semibold">
                            Sarah Thompson
                        </h5>
                        <span class="block">
                            Analyste de données
                        </span>
                    </div>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[20px] md:p-[30px] xl:p-[40px] rounded-[7px]">
                <div class="leading-none mb-[12px] md:mb-[20px] text-[16px] md:text-[19px] text-[#fe7a36] flex items-center gap-[4px]">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                </div>
                <p class="text-[14px] md:text-[16px] font-medium leading-[1.6]">
                    En tant que développeur, j'apprécie la flexibilité et la robustesse du modèle de tableau de bord Trezo. Il offre une large gamme de fonctionnalités adaptées à nos besoins variés, et son code propre facilite grandement la personnalisation. Fortement recommandé !
                </p>
                <div class="flex items-center mt-[15px] md:mt-[20px] gap-[12px] md:gap-[15px]">
                    <img src="images/front-pages/user2.jpg" alt="image-utilisateur" class="rounded-full w-[50px]">
                    <div>
                        <h5 class="text-[15px] md:text-[16px] mb-[3px] font-semibold">
                            John Smith
                        </h5>
                        <span class="block">
                            Ingénieur logiciel
                        </span>
                    </div>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[20px] md:p-[30px] xl:p-[40px] rounded-[7px]">
                <div class="leading-none mb-[12px] md:mb-[20px] text-[16px] md:text-[19px] text-[#fe7a36] flex items-center gap-[4px]">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p class="text-[14px] md:text-[16px] font-medium leading-[1.6]">
                    Le modèle de tableau de bord Trezo a été une bouée de sauvetage pour notre organisation. Il nous a aidés à rationaliser nos processus de reporting et à communiquer efficacement les insights entre les départements. Le temps gagné nous a permis de nous concentrer davantage sur des initiatives stratégiques.
                </p>
                <div class="flex items-center mt-[15px] md:mt-[20px] gap-[12px] md:gap-[15px]">
                    <img src="images/front-pages/user3.jpg" alt="image-utilisateur" class="rounded-full w-[50px]">
                    <div>
                        <h5 class="text-[15px] md:text-[16px] mb-[3px] font-semibold">
                            Alex Rodriguez
                        </h5>
                        <span class="block">
                            Directeur marketing
                        </span>
                    </div>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[20px] md:p-[30px] xl:p-[40px] rounded-[7px]">
                <div class="leading-none mb-[12px] md:mb-[20px] text-[16px] md:text-[19px] text-[#fe7a36] flex items-center gap-[4px]">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p class="text-[14px] md:text-[16px] font-medium leading-[1.6]">
                    Je ne peux que recommander le modèle Trezo. Il nous a permis de mieux comprendre nos indicateurs commerciaux et d'identifier les axes d'amélioration. L'équipe de support réactive est un vrai plus, toujours prête à aider.
                </p>
                <div class="flex items-center mt-[15px] md:mt-[20px] gap-[12px] md:gap-[15px]">
                    <img src="images/front-pages/user4.jpg" alt="image-utilisateur" class="rounded-full w-[50px]">
                    <div>
                        <h5 class="text-[15px] md:text-[16px] mb-[3px] font-semibold">
                            Kevin Brown
                        </h5>
                        <span class="block">
                            Jessica Martinez
                        </span>
                    </div>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[20px] md:p-[30px] xl:p-[40px] rounded-[7px]">
                <div class="leading-none mb-[12px] md:mb-[20px] text-[16px] md:text-[19px] text-[#fe7a36] flex items-center gap-[4px]">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <p class="text-[14px] md:text-[16px] font-medium leading-[1.6]">
                    Utiliser le modèle de tableau de bord Trezo a changé la donne pour notre équipe. La possibilité de personnaliser les widgets selon nos besoins spécifiques nous a permis d'obtenir des analyses plus précises de nos performances et de stimuler la croissance de notre activité.
                </p>
                <div class="flex items-center mt-[15px] md:mt-[20px] gap-[12px] md:gap-[15px]">
                    <img src="images/front-pages/user5.jpg" alt="image-utilisateur" class="rounded-full w-[50px]">
                    <div>
                        <h5 class="text-[15px] md:text-[16px] mb-[3px] font-semibold">
                            Olivia Adams
                        </h5>
                        <span class="block">
                            Coordinatrice marketing
                        </span>
                    </div>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[20px] md:p-[30px] xl:p-[40px] rounded-[7px]">
                <div class="leading-none mb-[12px] md:mb-[20px] text-[16px] md:text-[19px] text-[#fe7a36] flex items-center gap-[4px]">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p class="text-[14px] md:text-[16px] font-medium leading-[1.6]">
                    En tant que startup, nous avions besoin d'une solution de tableau de bord à la fois puissante et économique. Le modèle Trezo a coché toutes les cases pour nous. Il nous a permis de rester agiles et compétitifs dans un marché en évolution rapide.
                </p>
                <div class="flex items-center mt-[15px] md:mt-[20px] gap-[12px] md:gap-[15px]">
                    <img src="images/front-pages/user3.jpg" alt="image-utilisateur" class="rounded-full w-[50px]">
                    <div>
                        <h5 class="text-[15px] md:text-[16px] mb-[3px] font-semibold">
                            Daniel Lee
                        </h5>
                        <span class="block">
                            Co-fondateur, StartupX
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
