<div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[150px]">
    <div class="container 2xl:max-w-[1320px] mx-auto px-[12px] relative z-[1]">
        <div class="grid lg:grid-cols-2 gap-[25px] items-center">
            <div class="relative">
                <div class="md:max-w-[600px] lg:max-w-[400px] xl:max-w-[510px] p-[15px] md:p-[25px] md:p-[30px] xl:py-[27px] xl:px-[34px] rounded-[7px] bg-white/[.54] dark:bg-black/[.54] border border-white/[.10] dark:border-black/[.10] backdrop-blur-[5.400000095367432px]">
                    <img src="images/front-pages/order-summary.png" class="inline-block" alt="order-summary-image">
                </div>
                <div class="absolute ltr:right-0 rtl:left-0 ltr:lg:right-[30px] rtl:lg:left-[30px] max-w-[120px] md:max-w-[200px] lg:max-w-[219px] -mt-[15px] md:-mt-[17px] rounded-[4.294px] top-1/2 -translate-y-1/2 drop-shadow-xl">
                    <img src="images/front-pages/courses-sales.jpg" class="inline-block rounded-[4.294px]" alt="courses-sales-image">
                </div>
            </div>
            <div>
                <h2 class="leading-[1.2] text-[24px] md:text-[28px] lg:text-[34px] xl:text-[36px] mb-[15px] -tracking-[.5px] md:-tracking-[.6px] lg:-tracking-[.8px] xl:-tracking-[1px]">
                    Personnalisez votre tableau de bord : libérez la puissance des widgets personnalisables
                </h2>
                <ul class="ltr:xl:pl-[18px] rtl:xl:pr-[18px] mt-[25px] md:mt-[30px] lg:mt-[35px] xl:mt-[65px]">
                    <li class="relative ltr:pl-[25px] rtl:pr-[25px] ltr:md:pl-[28px] rtl:md:pr-[28px] ltr:lg:pl-[30px] rtl:lg:pr-[30px] mb-[25px] xl:mb-[32px] last:mb-0">
                        <i class="material-symbols-outlined absolute text-primary-600 !text-[17px] md:!text-[18px] lg:!text-[20px] ltr:left-0 rtl:right-0 top-0">
                            done_outline
                        </i>
                        <h3 class="text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] mb-[8px] md:mb-[10px] font-semibold leading-[1.2]">
                            Affichage sur mesure
                        </h3>
                        <p class="leading-[1.6] md:max-w-[458px]">
                            Organisez, redimensionnez et configurez facilement les widgets pour afficher les données les plus pertinentes pour votre flux de travail.
                        </p>
                    </li>
                    <li class="relative ltr:pl-[25px] rtl:pr-[25px] ltr:md:pl-[28px] rtl:md:pr-[28px] ltr:lg:pl-[30px] rtl:lg:pr-[30px] mb-[25px] xl:mb-[32px] last:mb-0">
                        <i class="material-symbols-outlined absolute text-primary-600 !text-[17px] md:!text-[18px] lg:!text-[20px] ltr:left-0 rtl:right-0 top-0">
                            done_outline
                        </i>
                        <h3 class="text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] mb-[8px] md:mb-[10px] font-semibold leading-[1.2]">
                            Informations personnalisées
                        </h3>
                        <p class="leading-[1.6] md:max-w-[458px]">
                            Personnalisez le contenu et les options de visualisation des widgets selon vos préférences et priorités spécifiques.
                        </p>
                    </li>
                    <li class="relative ltr:pl-[25px] rtl:pr-[25px] ltr:md:pl-[28px] rtl:md:pr-[28px] ltr:lg:pl-[30px] rtl:lg:pr-[30px] mb-[25px] xl:mb-[32px] last:mb-0">
                        <i class="material-symbols-outlined absolute text-primary-600 !text-[17px] md:!text-[18px] lg:!text-[20px] ltr:left-0 rtl:right-0 top-0">
                            done_outline
                        </i>
                        <h3 class="text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] mb-[8px] md:mb-[10px] font-semibold leading-[1.2]">
                            Flexibilité et polyvalence
                        </h3>
                        <p class="leading-[1.6] md:max-w-[458px]">
                            Adaptez les widgets aux besoins évolutifs de votre entreprise en ajustant facilement les mises en page, styles et sources de données.
                        </p>
                    </li>
                    <li class="relative ltr:pl-[25px] rtl:pr-[25px] ltr:md:pl-[28px] rtl:md:pr-[28px] ltr:lg:pl-[30px] rtl:lg:pr-[30px] mb-[25px] xl:mb-[32px] last:mb-0">
                        <i class="material-symbols-outlined absolute text-primary-600 !text-[17px] md:!text-[18px] lg:!text-[20px] ltr:left-0 rtl:right-0 top-0">
                            done_outline
                        </i>
                        <h3 class="text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] mb-[8px] md:mb-[10px] font-semibold leading-[1.2]">
                            Intégration fluide
                        </h3>
                        <p class="leading-[1.6] md:max-w-[458px]">
                            Intégrez les widgets de manière transparente avec les autres composants du tableau de bord et les systèmes externes pour une expérience utilisateur cohérente.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="absolute -top-[60px] ltr:left-[65px] rtl:right-[65px] -z-[1] blur-[150px]">
            <img src="images/front-pages/shape1.png" alt="shape1">
        </div>
        <div class="absolute -bottom-[30px] ltr:right-[20px] rtl:left-[20px] -z-[1] blur-[125px]">
            <img src="images/front-pages/shape2.png" alt="shape1">
        </div>
    </div>
</div>
